<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en"
><head th:replace="/app/fragments/head::template">

<body>
<div th:replace="app/fragments/menu::template"></div>
<!--<a th:if="${role}=='ADMIN'" href="/app/settings/api">API</a>-->
<h2>Settings</h2>
<div class="row justify-content-center">
    <form method="POST" enctype="multipart/form-data" action="/app/settings">
        <div sec:authorize="hasAuthority('ADMIN')" class="form-group row">
            <label for="guild-admin">Select new admin</label>
            <select name="guild_admin" id="guild-admin">
                <option th:each="user : ${guild_users}" th:value="${user.username}" th:text="${user.username}"></option>
            </select>
        </div>
        <input type="hidden" th:attr="name=${_csrf.parameterName},value=${_csrf.token}"/>
        <button type="submit" class="btn btn-primary">Set!</button>
    </form>
</div>
</body>
</html>