<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
    <head th:replace="app/fragments/head::template"/>
    <body>
        <div th:replace="app/fragments/menu::template"></div>
        <div class="container">
            <div class="row">
                <form method="POST" enctype="multipart/form-data" action="/app/settings/change-password">
                    <h5 class="row">Change password</h5>
                    <div class="form-group row">
                        <label for="current-password">Your current password:</label>
                        <input id="current-password" type="password" class="form-control col-xl-12" name="current-password" placeholder="Current password">
                    </div>
                    <div class="form-group row">
                        <label for="new-password">New password:</label>
                        <input id="new-password" type="password" class="form-control col-xl-12" name="new-password" placeholder="New password">
                    </div>
                    <div class="form-group row">
                        <label for="confirm-new-password">New password:</label>
                        <input id="confirm-new-password" type="password" class="form-control col-xl-12" name="confirm-new-password" placeholder="Confirm new password">
                    </div>
                    <p class="row error" th:if="${error}" th:text="${error}"></p>
                    <p class="row error" th:if="${confirmation}" th:text="${confirmation}"></p>
                    <input type="hidden" th:attr="name=${_csrf.parameterName},value=${_csrf.token}"/>
                    <button type="submit" class="row btn btn-primary">Set!</button>
                </form>
            </div>
            <div sec:authorize="hasAuthority('ADMIN')" class="row">
                <form method="POST" enctype="multipart/form-data" action="/app/settings">
                    <div class="form-group col">
                        <h5>Select admins</h5>
                        <div th:each="user : ${guild_users}">
                            <input type="checkbox" th:checked="${user.role.name == 'ADMIN'}" id="admin_checkbox" name="admin_checkbox"
                                   th:value="${user.username}" checked>
                            <label th:for="${user.username}" th:text="${user.username}"></label>
                            <a th:if="${!( user.role.name == 'ADMIN' || user.role.name == 'CONFIRMED' )}" th:href="@{settings/confirm-user/{name}(name=${user.username})}">Confirm user</a>
                        </div>
                    </div>
                    <input type="hidden" th:attr="name=${_csrf.parameterName},value=${_csrf.token}"/>
                    <button type="submit" class="row btn btn-primary">Set!</button>
                </form>
            </div>
        </div>
    </body>
</html>