.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.icon32 {
    width: 32px;
    height: 32px;
}

.icon16 {
    width: 16px;
    height: 16px;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}


/*intercept-url{*/
/*    background-color: red;*/
/*}*/