.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.searchbar{
    width: 100%;
    border: 0;
    height: 40px;
}

.container{
    width: 500px;
    margin: 0 auto;
}

.user{
    color: white;
}

.icon32 {
    width: 32px;
    height: 32px;
}

.icon16 {
    width: 16px;
    height: 16px;
}

.error{
    color: red ;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}


/*intercept-url{*/
/*    background-color: red;*/
/*}*/