<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="/app/fragments/head::template">

</head>
<link type="text/css" href="/css/credentialsForm.css" rel="stylesheet">
<body class="text-center">
    <form class="form-signin" name='loginForm' enctype="multipart/form-data" action="/login" method='POST'>
    <!--    <img class="mb-4" src="./Signin Template · Bootstrap_files/bootstrap-solid.svg" alt="" width="72" height="72">-->
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputUser" class="sr-only">Login</label>
        <input type="text" id="inputUser" name="username" class="form-control firstInput" placeholder="login" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control lastInput" placeholder="Password" required="">
        <input type="hidden" th:attr="name=${_csrf.parameterName},value=${_csrf.token}"/>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <a href="/register">Don't have account? Register now!</a>
        <p class="mt-5 mb-3 text-muted">© 2020-2021</p>
    </form>
</body>
</html>