<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:replace="/app/fragments/head::template">
<body>
    <h1>Register</h1>
    <form name='registerForm' enctype="multipart/form-data" action="/register" method='POST'>
        <table>
            <tr>
                <td>User:</td>
                <td><input type='text' name='username' ></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type='password' name='password'  /></td>
            </tr>
            <tr>
                <td>Confirm password:</td>
                <td><input type='password' name='password_confirm'  /></td>
            </tr>
            <tr>
                <td><input name="submit" type="submit" value="Register"  /></td>
            </tr>
        </table>
        <input type="hidden" th:attr="name=${_csrf.parameterName},value=${_csrf.token}"/>
    </form>
</body>
</html>