<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
    <head th:replace="app/fragments/head::template"/>
    <link type="text/css" href="/css/credentialsForm.css" rel="stylesheet">
    <body class="text-center">
        <form class="form-signin" name='resetForm' enctype="multipart/form-data" action="/reset-password" method='POST'>
            <h1 class="h3 mb-3 font-weight-normal">Reset password</h1>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control firstInput" placeholder="Password" required="">
            <label for="confirm-password" class="sr-only">Confirm password</label>
            <input type="password" id="confirm-password" name="confirm-password" class="form-control lastInput" placeholder="Confirm password" required="">
            <input type="hidden" id="uuid" name="uuid" th:value="${uuid}" />
            <input type="hidden" th:attr="name=${_csrf.parameterName},value=${_csrf.token}"/>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Reset!</button>
            <p class="mt-5 mb-3 text-muted">© 2020-2021</p>
        </form>
    </body>
</html>