<html xmlns:th="https://www.thymeleaf.org" lang="en">
    <head th:fragment="template">
        <meta charset="utf-8">
        <title>GW2 Guild Helper</title>
        <link type="text/css" href="/css/main.css" rel="stylesheet">
        <link media="all" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
        <script data-require="jquery@*" data-semver="2.1.3" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    </head>
</html>
