<html xmlns:th="https://www.thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"><div th:fragment="template" class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
        <!--/*@thymesVar id="items" type="java.util.List<com.damiannguyen.blog.menu.MenuDto>"*/-->
        <!--/*@thymesVar id="item" type="com.damiannguyen.blog.menu.MenuDto"*/-->
<!--        <a th:each=" item : ${items}" class="p-2 text-muted" th:text="${item.name}" href="#"></a>-->
        <a href="/app/welcome">Home</a>
        <a href="/app/settings">Settings</a>
        <a href="/logout">Logout</a>
<!--        <form id="logout-form" action="/logout" method="post">-->
<!--        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
<!--        </form>-->
    </nav>
</div>
</html>